# Disable sandboxing because it's too slow.
# https://github.com/bazelbuild/bazel/issues/2424
# TODO(alexeagle): do use the sandbox on CI
#build --spawn_strategy=standalone

# Performance: avoid stat'ing input files
build --watchfs

