# https://editorconfig.org

root = true

[*.ts]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
spaces_around_brackets = inside
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = true
