# Outputs
bazel-*
build/
dist/

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
coverage/
node_modules/
tmp/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store
