# Auto detect text files and perform LF normalization
* text=auto

# JS and TS files must always use LF for tools to work
*.js eol=lf
*.ts eol=lf
*.json eol=lf
*.css eol=lf
*.scss eol=lf
*.less eol=lf
*.html eol=lf
*.svg eol=lf
