# Please keep this file in alphabetical order, per section.


################################################################################
# Angular Team
################################################################################
Hans Larsen <hans@hansl.ca>
Igor Minar <igor@angularjs.org>
    Igor Minar <igor@angularjs.org> <iminar@google.com>


################################################################################
# Angular CLI Team
################################################################################
Charles Lyding <clydin@users.noreply.github.com>
    Charles Lyding <clydin@users.noreply.github.com> <19598772+clydin@users.noreply.github.com>
Filipe Silva <filipematossilva@gmail.com>
Mike Brocchi <mbrocchi@gmail.com>
Alan Agius <alan.agius4@users.noreply.github.com>
    Alan Agius <alan.agius4@users.noreply.github.com> <alan.agius4@gmail.com> <alan.agius@betssongroup.com>


################################################################################
# OpenSource Contributors
################################################################################
Ashok Tamang <ashoktamang52@gmail.com>
    Ashok Tamang <ashoktamang52@gmail.com> <ashoktamang@google.com>
Bram Borggreve <borggreve@gmail.com>
Carlo Dapor <catull@gmail.com>
    <catull@gmail.com> <catull@users.noreply.github.com>
Cédric Exbrayat <cedric@ninja-squad.com>
    Cédric Exbrayat <cedric@ninja-squad.com> <cexbrayat@users.noreply.github.com>
Chris Pearce <chris.pearce@seachangeinnovations.com>
    Chris Pearce <chris.pearce@seachangeinnovations.com> <ChrisPearce@users.noreply.github.com>
Dominic Watson <domwatson@live.co.uk>
    Dominic Watson <domwatson@live.co.uk> <intellix@users.noreply.github.com>
Jeremy Wells <jmw.jeremymwells@gmail.com>
Jan Kuri <jkuri88@gmail.com>
Jim Cummins <jim.for.cy@gmail.com>
    Jim Cummins <jim.for.cy@gmail.com> <jcummins@fisdap.net>
John Papa <john@johnpapa.net>
    John Papa <john@johnpapa.net> <johnpapa@users.noreply.github.com>
Meligy <eng.meligy@gmail.com>
Michał Gołębiowski-Owczarek <m.goleb@gmail.com>
Preston Van Loon <preston@machinepowered.com>
    Preston Van Loon <preston@machinepowered.com> <pvanloon@google.com>
Rodric Haddad <rody@rodyhaddad.com>
Shai Reznik <shai.reznik@gmail.com>
    Shai Reznik <shai.reznik@gmail.com> <shairez@users.noreply.github.com>
    Shai Reznik <shai.reznik@gmail.com> <psyrez@gmail.com>
Stephen Cavaliere <stephencavaliere@gmail.com>
    Stephen Cavaliere <stephencavaliere@gmail.com> <delasteve@users.noreply.github.com>
