/bazel-out/
/docs/design/analytics.md
/dist-schema/
/goldens/public-api
/modules/testing/builder/projects/
/packages/angular_devkit/build_angular/test/
/packages/angular_devkit/core/src/workspace/json/test/
/packages/angular_devkit/schematics_cli/blank/project-files/
/packages/angular_devkit/schematics_cli/blank/schematic-files/
/packages/angular_devkit/schematics_cli/schematic/files/
/packages/schematics/angular/third_party/
/README.md
/CONTRIBUTING.md
.yarn/
dist/
/tests/legacy-cli/e2e/assets/
/tools/test/*.json
pnpm-lock.yaml

# This is a symbolic link.
packages/angular/cli/src/commands/ai/setup-gemini-cli/extension/GEMINI.md
