/bazel-out/
/docs/design/analytics.md
/dist-schema/
/goldens/public-api
/packages/angular_devkit/build_angular/test/
/packages/angular_devkit/core/src/workspace/json/test/
/tests/
/README.md
/CONTRIBUTING.md
.yarn/
dist/
third_party/