<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= jsComponentName %></title>
  <base href="/">
  {{content-for 'head'}}
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Service worker support is disabled by default.
       Install the worker script and uncomment to enable.
       Only enable service workers in production.
  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/worker.js').catch(function(err) {
        console.log('Error installing service worker: ', err);
      });
    }
  </script>
  -->
</head>
<body>
  <<%= htmlComponentName %>-app>Loading...</<%= htmlComponentName %>-app>

  <script src="vendor/es6-shim/es6-shim.js"></script>
  <script src="vendor/reflect-metadata/Reflect.js"></script>
  <script src="vendor/zone.js/dist/zone.js"></script>
  <script src="https://code.angularjs.org/tools/system.js"></script>
  <script src="https://code.angularjs.org/2.0.0-beta.16/Rx.js"></script>

  <script>
    System.import('system-config.js').then(function () {
      System.import('main.js')
    }).catch(console.error.bind(console));
  </script>
</body>
</html>
