<!doctype html>
<html>
<head>
    <title><%= jsComponentName %></title>
    <style>/* Cool! */</style>
    <script src="https://github.jspm.io/jmcriffey/bower-traceur-runtime@0.0.87/traceur-runtime.js"></script>
    <script src="https://jspm.io/system@0.16.js"></script>
    <script src="https://code.angularjs.org/2.0.0-alpha.22/angular2.dev.js"></script>
</head>
<body>
<<%= htmlComponentName %>-app>Loading...</<%= htmlComponentName %>-app>
<script>
    System.import('src/<%= htmlComponentName %>');
</script>
</body>
</html>