<!doctype html>
<html>
<head>
  <title><%= jsComponentName %></title>
  <style>/* Cool! */</style>
  <script src="systemjs/dist/system.src.js"></script>
  <script src="angular2/bundles/angular2.dev.js"></script>
  {{content-for 'head'}}
</head>
<body>
<<%= htmlComponentName %>-app>Loading...</<%= htmlComponentName %>-app>
<script>
  System.config({
    defaultJSExtensions: true,
    packages: {
      angular2: {
        format: 'register',
        defaultExtension: false
      },
      '@reactivex': {
        format: 'register',
        defaultExtension: false
      }
    }
  });
  System.import('<%= htmlComponentName %>').then(null, console.error.bind(console));
</script>
</body>
</html>
