<!doctype html>
<html>
<head>
  <title><%= jsComponentName %></title>
  <style>/* Cool! */</style>
  <script src="vendor/systemjs/dist/system.src.js"></script>
  <script src="vendor/angular2/bundles/angular2.dev.js"></script>
  {{content-for 'head'}}
  <script>
    System.config({
      packages: {
        app: {
          format: 'register',
          defaultExtension: 'js'
        }
      }
    });
    System.import('app.js').then(null, console.error.bind(console));
  </script>
</head>
<body>
  <<%= htmlComponentName %>-app>Loading...</<%= htmlComponentName %>-app>
</body>
</html>
