name: Feature request triage bot

on:
  schedule:
    # Run at 13:00 every day
    - cron: '0 13 * * *'

jobs:
  feature_triage:
    # To prevent this action from running in forks, we only run it if the repository is exactly the
    # angular/angular-cli repository.
    if: github.repository == 'angular/angular-cli'
    runs-on: ubuntu-latest
    steps:
      - uses: angular/dev-infra/github-actions/feature-request@a87135ebb421b291f986ec2c673e9c37f22dfc17
        with:
          angular-robot-key: ${{ secrets.ANGULAR_ROBOT_PRIVATE_KEY }}
