name: Lock Inactive Issues

# Declare default permissions as read only.
permissions:
  contents: read

on:
  schedule:
    # Run at 08:00 every day
    - cron: '0 8 * * *'

jobs:
  lock_closed:
    runs-on: ubuntu-latest
    steps:
      - uses: angular/dev-infra/github-actions/lock-closed@2dbd81f69dbc6c45fff5037cbfa2ddc3f5b7b6d7
        with:
          lock-bot-key: ${{ secrets.LOCK_BOT_PRIVATE_KEY }}
